.card-container {
    @apply relative flex flex-col rounded-lg min-h-[400px] bg-white;
  }

  .card-container:hover {
    @apply transform transition-transform duration-300;
    box-shadow: 
      0 8px 12px -1px rgba(0, 0, 0, 0.15),
      4px 4px 8px -1px rgba(212, 175, 55, 0.2);
  }
  
  .card-image-container {
    @apply relative h-48 overflow-hidden rounded-t-lg border-b-2 border-energeticGreen;
  }
  
  .card-content {
    @apply p-3 flex flex-col justify-between flex-grow;
    background-image: 
      linear-gradient(45deg, rgba(212, 175, 55, 0.05) 25%, transparent 25%),
      linear-gradient(-45deg, rgba(212, 175, 55, 0.05) 25%, transparent 25%);
    background-size: 4px 4px;
  }
  
  .card-title {
    @apply font-oswald mb-2 text-xl font-semibold text-slate-800 tracking-wide uppercase;
  }